/*
 * Somewhere behind the stars
 * 
 * Copyright (C) 2024  Simx72 <adventure5200@duck.com>
 * Copyright (c) 2022 pixel-fabian
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

 
* {
  box-sizing: border-box;
}

html, body, #game {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: sans-serif;
}

/* .wrapper {
  max-width: 840px;
  margin: 0 auto;
  background: #eee;
  padding: 20px;
} */

#game canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: BoxyBoldFont;
  src: url('/fonts/Boxy-Bold-Font/Boxy-Bold.ttf');
  font-weight:400;
  font-weight:normal;
}

@font-face {
  font-family: rogueFont;
  src: url('/fonts/8x8-square-roguelike-ascii-font/8x8-square-roguelike-ascii-font.ttf');
  font-weight:400;
  font-weight:normal;
}